<div class="add-article-container container">
	<div class="slider-container">
	</div>
	<img src="../../dist/images/sun.png" class="circle-line" />
	<div class="choosing-container">
		<div class="general-title">Makale Ekle</div>
		<form>
		  <div class="form-group">
		    <input type="text" class="form-control" id="makale-baslik" placeholder="Başlık">
		  </div>
		  <div class="form-group">
		    <textarea class="form-control" id="makale-slogan" rows="2" placeholder="Slogan"></textarea>
		  </div>
		  <div class="form-group">
		    <select class="form-control" id="makale-kategori">
		      <option>Bizzat-i Kendisi</option>
		      <option>Bir Gezginin Güncesi</option>
		    </select>
		  </div>
		  <div [froalaEditor]>Hello, Froala!</div>
		</form>
	</div>
</div>
