<div class="category-container container">
	<div class="choosing-container">
		<div class="category-circle">
			<a href="#">
				<div class="layer"><span>Bizzat-i Kendisi</span></div>
				<img src="../../../dist/images/kategori1.png" />
			</a>
		</div>
		<div class="category-circle">
			<a href="#">
				<div class="layer"><span>Bir Gezginin Güncesi</span></div>
				<img src="../../../dist/images/kategori2.png" />
			</a>
		</div>
	</div>
  <img src="../../dist/images/circles.png" class="circle-line" />
<article-list-component></article-list-component>
</div>
