<div class="about-container container">
	<div class="slider-container">
	</div>
	<img src="../../dist/images/sun.png" class="circle-line" />
	<div class="choosing-container">
		<div class="general-title">Benim Hakkımda</div>
    <article>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut augue a urna accumsan luctus quis eget lectus. Ut non nisl vestibulum, blandit urna vitae, tristique metus. Aenean gravida nunc vel sem commodo vestibulum. Nam iaculis nisi vitae justo ultricies efficitur. Vestibulum nec odio imperdiet, egestas orci quis, sagittis neque. Morbi porta, risus rhoncus faucibus bibendum, lorem diam aliquet felis, at hendrerit dui massa ut ligula. Fusce vitae nisl leo. Integer vestibulum, diam et fringilla tempus, tellus magna sollicitudin massa, quis rhoncus nibh nunc eget ante. Nam cursus egestas elit. Vivamus dictum consectetur elit, nec tincidunt nunc porta id. Sed id lacinia neque. In consequat dignissim felis nec elementum. Pellentesque rhoncus tellus ut libero vulputate blandit. Nulla fermentum placerat ante sed ultricies. Donec risus neque, lobortis non diam non, semper pharetra velit. Donec id erat tincidunt, viverra sapien ut, sodales mi.
      <br><br>
      Integer ornare dolor orci, nec mattis eros pretium non. Morbi sollicitudin volutpat pretium. Sed ut tristique libero. Sed et purus non nisi interdum fermentum. Nam gravida, tellus eget iaculis fringilla, leo eros mattis leo, a interdum mi felis vel nunc. Phasellus nec dui accumsan, facilisis tellus vehicula, viverra purus. Duis fermentum fermentum nisl non accumsan. Etiam rhoncus nec ante non luctus. Fusce eget odio nec metus elementum vulputate.
    </article>
	</div>
</div>
