<div class="contact-container container">
	<div class="slider-container">
	</div>
	<img src="../../dist/images/sun.png" class="circle-line" />
	<div class="choosing-container">
		<div class="general-title">İletişimde kalalım...</div>
    <form class="col-sm-12 col-12 col-md-6 col-md-offset-4">
      <div class="form-group">
        <input type="text" class="form-control" id="name-surname" placeholder="Ad Soyad">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="E-posta">
      </div>
     <div class="form-group">
       <label for="text-mail">Mesajınız:</label>
       <textarea class="form-control" id="text-mail" rows="3"></textarea>
     </div>
     <button type="submit" class="btn col-sm-12 col-12 col-md-12">GÖNDER</button>
    </form>
	</div>
</div>
