
	  <div class="content-container">
		<div class="general-title">Tüm Yazılarım</div>
		<div class="text-container">
			<article class="text-article">
				<div class="text-title">Lorem ipsum</div>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis diam a est rhoncus vehicula. Proin scelerisque turpis id urna auctor, vel vehicula neque sollicitudin. Nunc laoreet, lorem nec dictum feugiat, elit dui convallis nisi, et porta lorem massa ut mi. Vestibulum rhoncus convallis purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis diam a est rhoncus vehicula. Proin scelerisque turpis id urna auctor, vel vehicula neque sollicitudin. Nunc laoreet, lorem nec dictum feugiat, elit dui convallis nisi, et porta lorem massa ut mi. Vestibulum rhoncus convallis purus.
				<a href="" class="continue">Daha fazlasını okuyun...</a>
			</article>
		</div>
		<div class="text-container">
			<article class="text-article">
				<div class="text-title">Lorem ipsum</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis diam a est rhoncus vehicula. Proin scelerisque turpis id urna auctor, vel vehicula neque sollicitudin. Nunc laoreet, lorem nec dictum feugiat, elit dui convallis nisi, et porta lorem massa ut mi. Vestibulum rhoncus convallis purus.
				<a [routerLink]="['article']" class="continue">Daha fazlasını okuyun...</a>
			</article>
		</div>
		<div class="text-container">
			<article class="text-article">
				<div class="text-title">Lorem ipsum</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis diam a est rhoncus vehicula. Proin scelerisque turpis id urna auctor, vel vehicula neque sollicitudin. Nunc laoreet, lorem nec dictum feugiat, elit dui convallis nisi, et porta lorem massa ut mi. Vestibulum rhoncus convallis purus.
				<a href="" class="continue">Daha fazlasını okuyun...</a>
			</article>
		</div>
		<div class="text-container">
			<article class="text-article">
				<div class="text-title">Lorem ipsum</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis diam a est rhoncus vehicula. Proin scelerisque turpis id urna auctor, vel vehicula neque sollicitudin. Nunc laoreet, lorem nec dictum feugiat, elit dui convallis nisi, et porta lorem massa ut mi. Vestibulum rhoncus convallis purus.
				<a href="" class="continue">Daha fazlasını okuyun...</a>
			</article>
		</div>
	</div>
