// styles applied on :host are applied on the current component, "app" in this case

@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Sacramento|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Lobster|Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$color-white: #FF0000;
$color-title: #260c20;
$color-text: #606060;
:host {
  display: block;
}

main {
  padding: 1em;
  margin-top: 50px;
  display: block;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: $color-text;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}
.container-fluid{
  padding-right:0px!important;
  padding-left: 0px!important
}
.row{
  position: absolute;
  width:100%;
  z-index: 999;
  top:50px;
  margin:0px;
  margin-bottom: 20px;
}
.container-app{
  width:80%;
  height: auto;
  min-height: 500px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.47);
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.47);
}
header{
  background-image: url("../../dist/images/header_image.png")!important;
  background-repeat: no-repeat;
  height: 355px;
  nav{
    a {
      padding: 2%;
      color:#ffffff;
      font-size: 12px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      &:hover, &:focus, &:active{
        background-color:transparent!important;
      }
    }
    .navbar-brand{
      font-family: 'Satisfy', cursive;
  		font-size: 28px;
    }
  }
}

footer {
  height: 50px;
  background-color: #151330;
  text-align: center;
  font-size: 0.8em;
}
