.index-container{
  height: auto;
  margin-top: -345px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
  /*Slider*/
  .slider-container{
    padding-top: 10px;
    height: 280px;
    border-bottom:2px solid #260c20;
    position: relative;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    .slider-ex-image{
      height: 95%;
      width: 40%;
      float: left;
      border-radius: 3px;
    }
    .slider-title{
      width:100%;
      color: #260c20;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom:2px solid #260c20;
    }
    .slider-ex-article{
      height: 95%;
      width: 40%;
      float: left;
      text-align: left;
      padding:10px;
      padding-top:0px;
      position: relative;
      color: #260c20;
      border-right:2px solid #260c20;
    }
    .continue{
      position: absolute;
      bottom: 0px;
      right:10px;
      display: block;
      color: #260c20;
    }
    .slider-cycle{
      width:20%;
      height: 95%;
      float: left;
      padding-left: 10px;
      overflow-y: scroll;
      img {
        width:100%;
        height: auto;
        margin: auto;
        border-radius: 3px;
      }
    }
  }
  .circle-line{
    margin:auto;
    display: block;
    margin-top: -10px;
  }
  .choosing-container {
    min-height: 350px;
    margin-bottom: 30px;
    margin-top: 50px;
    .general-title{
      margin-bottom: 20px;
      font-family: 'Sacramento', cursive;
      font-size: 26px;
      color: #260c20;
      text-align: center;
    }
    .category-circle{
      width:30%;
      height: 30%;
      border-radius: 30%;
      float: left;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 10px;
      position: relative;
      a {
        width:100%;
        height: 100%;
        border-radius: 100%;
        display: block;
      }
      img {
        width:100%;
        height: 100%;
        border-radius: 100%;
      }
      .layer{
        width:100%;
        height: 100%;
        border-radius: 100%;
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        span {
          width:100%;
          text-align: center;
          position: absolute;
          bottom:40%;
          left: 3%;
          color:#ffffff;
          font-size:20px;
          font-family: 'Lobster Two', cursive;
        }
      }
    }
  }
}
