<div class="index-container container">
	
	<div class="choosing-container">
		<div class="category-circle">
			<a href="#">
				<div class="layer"><span>Bizzat-i Kendisi</span></div>
				<img src="../../../dist/images/kategori1.png" />
			</a>
		</div>
		<div class="category-circle">
			<a href="#">
				<div class="layer"><span>Bir Gezginin Güncesi</span></div>
				<img src="../../../dist/images/kategori2.png" />
			</a>
		</div>
	</div>
	<img src="../../dist/images/sun.png" class="circle-line" />
	<div class="slider-container">
		<img src="../../../dist/images/yazi1.jpg" class="slider-ex-image" />
		<article class="slider-ex-article">
			<div class="slider-title">LOREM IPSUM</div>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Maecenas ac turpis aliquet dolor dignissim vehicula sit amet id mi.
			Suspendisse eu elit fermentum, tincidunt quam sed, ultrices justo.
			Maecenas a eleifend dui. Quisque at maximus sapien, id rhoncus dui.
			Nunc vel faucibus sem. Praesent suscipit non justo sit amet condimentum.
			<a href="#" class="continue">Daha fazlasını okuyun...</a>
		</article>
		<div id="scroll" class="slider-cycle boxscroll nicescrol4">
			<div class="wrap">
				<img src="../../../dist/images/yazi1.jpg" class="slider-cycle-image" />
				<img src="../../../dist/images/yazi2.jpg" class="slider-cycle-image" />
				<img src="../../../dist/images/yazi3.jpg" class="slider-cycle-image" />
			</div>
		</div>
	</div>
</div>
